MASTER_KEY=$(openssl rand -base64 32)
JJWT_SECRET=$(openssl rand -base64 32)
WEBHOOK_SECRET=$(openssl rand -hex 16)
# SENTRY_BACKEND_DSN=https://key@o12345.ingest.sentry.io/12345
# SENTRY_FRONTEND_DSN=https://key@o12345.ingest.sentry.io/67890
# SENTRY_ENVIRONMENT=production